@import "~styles/colors";
@import "~styles/constants";

header {
  background: $dark-blue;
  display: grid;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
  div{
    grid-column: span 4;
    display: inline-flex;
    color: $red;
    cursor: default;
    font-size: $large-font-size;
    align-items: center;
    margin-left: $large-margin;
  }
  nav {
    grid-column: span 8;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-left: $large-margin;
    margin-right: $large-margin;
    div {
      display: flex;
      align-items: center;
      a {
        display: inline-block;
        color: $yellow;
        font-size: $large-font-size;
        text-decoration: none;
        vertical-align: center;
      }
      a:hover{
        color: white;
      }
    }
  }
}